input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid gray;
}

body {
  font-family: 'Roboto';
  user-select: none;
  -webkit-touch-callout: none;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
